@charset "utf-8";

/* css */

* {
	margin: 0;
	padding: 0
}

body {
	font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
	color: #555;
	background: #f1f1f1;
	line-height: 1.5;
}

img {
	border: 0;
	display: block
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #444;
	outline: none;
}

a:hover {
	text-decoration: none;
	color: #000;
}

.write-article {
	width: 100%;
	height: auto;

}

button{
	outline: none;
}




.article-bar {
	width: 100%;
	background: white;
	position: relative;
}

.article-bar #write-article-title {
	width: 80%;
	position: static;
	top: 0px;
	padding-right: 5%;
	height: 56px;
	font-size: 20px;
	font-weight: bold;
	font-family: "微软雅黑";
	/*border-right-style: none;*/

}


#article-title-len {
	/*	max-width: 10%;*/
	position: absolute;
	color: black;
	font-family: "微软雅黑";
	font-size: 20px;
	right: 21%;
	top: 13px;

}

#write-article-publish {
	outline: none;
	position: absolute;
	right: 13%;
	top: 5px;
}

#write-back-home {
	outline: none;
	position: absolute;
	right: 6%;
	top: 5px;
}


.lwd-alert-p{
	color: red;
	/* font-family: "微软雅黑"; */
	/* font-size: 18px; */
}

#article-class-div{
	margin-left: 1.875rem;
}

.p-tag{
	color: #000;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 1.875rem;
}

#blog-class-div{
	clear: both;
	/*margin-top: 20px;*/
	margin-left: 80px;
}


.bitianxiang{
	margin-left: 0.125rem;
	color: red;
}





/*媒体查询*/
/*屏幕尺寸在1671--1920*/
@media screen and (min-width: 1671px) and (max-width: 1920px) {
	#write-article {
		width: 100%;
	}


}

/* 屏幕在1530px和1670之间 */
@media screen and (min-width: 1531px) and (max-width:1670px) {
	#write-article {
		width: 100%;
	}

	.article-bar {
		width: 100%;
		background: white;
		position: relative;
	}

	#write-article-title {
		width: 74%;
		height: 56px;
	}

	#article-title-len {
		position: absolute;
		color: black;
		font-family: "微软雅黑";
		font-size: 20px;
		right: 27%;
		top: 13px;

	}

	#write-article-publish {
		outline: none;
		position: absolute;
		right: 18%;
		top: 5px;
	}



	#write-back-home {
		outline: none;
		position: absolute;
		right: 10%;
		top: 5px;
	}
}


/* 屏幕在1391--1530之间 */
@media screen and (min-width: 1391px) and (max-width:1530px) {
	#write-article {
		width: 100%;
	}

	.article-bar {
		width: 100%;
		background: white;
		position: relative;
	}

	#write-article-title {
		width: 68%;
		height: 56px;
	}

	#article-title-len {
		position: absolute;
		color: black;
		font-family: "微软雅黑";
		font-size: 20px;
		right: 33%;
		top: 13px;

	}

	#write-article-publish {
		outline: none;
		position: absolute;
		right: 23%;
		top: 5px;
	}



	#write-back-home {
		outline: none;
		position: absolute;
		right: 14%;
		top: 5px;
	}

}



/* 屏幕在1251--1390之间 */
@media screen and (min-width: 1251px) and (max-width:1390px) {
	#write-article {
		width: 100%;
	}

	.article-bar {
		width: 100%;
		background: white;
		position: relative;
	}

	#write-article-title {
		padding-right: 6%;
		width: 62%;
		height: 56px;
	}

	#article-title-len {
		position: absolute;
		color: black;
		font-family: "微软雅黑";
		font-size: 20px;
		right: 39%;
		top: 13px;

	}

	#write-article-publish {
		outline: none;
		position: absolute;
		right: 28%;
		top: 5px;
	}



	#write-back-home {
		outline: none;
		position: absolute;
		right: 18%;
		top: 5px;
	}

}



/* 屏幕在1111--1250之间 */
@media screen and (min-width: 1111px) and (max-width:1250px) {
	#write-article {
		width: 100%;
	}

	.article-bar {
		width: 100%;
		background: white;
		position: relative;
	}

	#write-article-title {
		padding-right: 6.5%;
		width: 54%;
		height: 56px;
	}

	#article-title-len {
		position: absolute;
		color: black;
		font-family: "微软雅黑";
		font-size: 20px;
		right: 47%;
		top: 13px;

	}

	#write-article-publish {
		outline: none;
		position: absolute;
		right: 35%;
		top: 5px;
	}


	#write-back-home {
		outline: none;
		position: absolute;
		right: 24%;
		top: 5px;
	}

}


/* 屏幕在971--1110之间 */
@media screen and (min-width: 971px) and (max-width:1110px) {
	#write-article {
		width: 100%;
	}

	.article-bar {
		width: 100%;
		background: white;
		position: relative;
	}

	#write-article-title {
		padding-right: 7%;
		width: 48%;
		height: 56px;
	}

	#article-title-len {
		position: absolute;
		color: black;
		font-family: "微软雅黑";
		font-size: 20px;
		right: 53%;
		top: 13px;

	}

	#write-article-publish {
		outline: none;
		position: absolute;
		right: 39%;
		top: 5px;
	}


	#write-back-home {
		outline: none;
		position: absolute;
		right: 26%;
		top: 5px;
	}

}



/* 屏幕在831--970之间 */
@media screen and (min-width: 831px) and (max-width:970px) {
	#write-article {
		width: 100%;
	}

	.article-bar {
		width: 100%;
		background: white;
		position: relative;
	}

	#write-article-title {
		padding-right: 7.5%;
		width: 48%;
		height: 56px;
	}

	#article-title-len {
		position: absolute;
		color: black;
		font-family: "微软雅黑";
		font-size: 20px;
		right: 53%;
		top: 13px;

	}

	#write-article-publish {
		outline: none;
		position: absolute;
		right: 35%;
		top: 5px;
	}


	#write-back-home {
		outline: none;
		position: absolute;
		right: 18%;
		top: 5px;
	}

}



/* 屏幕在637-830 */
@media screen and (min-width: 637px) and (max-width:830px) {
	#write-article {
		width: 100%;
	}

	.article-bar {
		width: 100%;
		background: white;
		position: relative;
	}

	#write-article-title {
		padding-right: 8.7%;
		width: 48%;
		height: 56px;
	}

	#article-title-len {
		position: absolute;
		color: black;
		font-family: "微软雅黑";
		font-size: 20px;
		right: 53%;
		top: 13px;

	}

	#write-article-publish {
		outline: none;
		position: absolute;
		right: 35%;
		top: 5px;
	}


	#write-back-home {
		outline: none;
		position: absolute;
		right: 18%;
		top: 5px;
	}

}


/* 屏幕在 */
@media only screen and (max-width:636px) {
	#write-article {
		width: 100%;
	}

	.article-bar {
		display: none;
		width: 100%;
		background: white;
		position: relative;
	}


}













