@charset "utf-8";
/* css */

* {
	margin: 0;
	padding: 0
}

body {
	font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
	color: #555;
	background: #f1f1f1;
	line-height: 1.5;
}

img {
	border: 0;
	display: block
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #444;
	outline: none;
}

a:hover {
	text-decoration: none;
	color: #000;
}

.clear {
	clear: both;
}

.blank {
	height: 20px;
	overflow: hidden;
	width: 100%;
	margin: auto;
	clear: both
}

.f_l {
	float: left
}

.f_r {
	float: right
}

article {
	width: 1120px;
	margin: auto;
	overflow: hidden;
	z-index: 999
}

.container {
	width: 1120px;
	margin: auto
}

main {
	width: 70%;
	float: left;
	overflow: hidden;
	z-index: 1;
	clear: both;
	min-height: 100%
}

#header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 9999;
}

.header-navigation {
	height: 73px;
	line-height: 73px;
	background: #fff;
	text-align: center;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}


.navbar {
	border-bottom: 1px solid #ececec;
	background-color: #555;
	color: #ccc;
	line-height: 36px;
	height: 36px;
	font-size: 14px;
	position: relative;
}

.topbox {
	width: 1120px;
	margin: auto;
	overflow: hidden;
	display: block;
	position: relative
}

.welcome {
	width: 750px;
	overflow: hidden;
	display: block;
	float: left;
	position: relative
}

.welcome:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 100%;
	height: 36px;
	background: #555;
	-webkit-animation: animations 5s ease-out 1s backwards;
	-moz-animation: animations 5s ease-out 1s backwards;
	-o-animation: animations 5s ease-out 5s backwards;
	-ms-animation: animations 5s ease-out 1s backwards;
	animation: animations 5s ease-out 1s backwards;
	opacity: 0
}

@-webkit-keyframes animations {
	0% {
		left: 0%;
		opacity: 1
	}
	100% {
		left: 100%;
		opacity: 1
	}
}

@-moz-keyframes animations {
	0% {
		left: 0%;
		opacity: 1
	}
	100% {
		left: 100%;
		opacity: 1
	}
}

@-o-keyframes animations {
	0% {
		left: 0%;
		opacity: 1
	}
	100% {
		left: 100%;
		opacity: 1
	}
}

@-ms-keyframes animations {
	0% {
		left: 0%;
		opacity: 1
	}
	100% {
		left: 100%;
		opacity: 1
	}
}

@keyframes animations {
	0% {
		left: 0%;
		opacity: 1
	}
	100% {
		left: 100%;
		opacity: 1
	}
}


/*search*/
.searchbox {
	position: absolute;
	right: 0
}


.search_bar {
	position: relative;
	width: 0%;
	min-width: 40px;
	height: 36px;
	float: right;
	/*overflow: hidden;*/
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

/*seach-bar里的input*/
#search_text {
	position: absolute;
	top: 0;
	right: 36px;
	border: 1px solid white;
	border-radius:50px ;
	outline: none;
	width: 250px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	padding-left: 10px;
	color: #333;
	background: white;
}
#search_ico{
	background-image: url(../images/search_logo.png);
	width: 35px;
	height: 35px;
	position: absolute;
	top: 0;
	right: 0;

}




/*logo*/

.logo {
	float: left;
	font-size: 22px;
	line-height: 73px;
	background: url(../images/python_logo_color.ico) left center no-repeat;
	padding-left: 60px
}


/*nav*/

nav {
	width: 1120px;
	margin: auto;
}

#mnavh {
	display: none;
	width: 30px;
	height: 40px;
	text-align: center;
	padding: 0 5px
}

#starlist {
	float: right;
	margin-left: 50px
}

#starlist li {
	float: left;
	width: 110px;
	text-align: center;
	display: block;
	font-size: 18px
}

#starlist li a{
	outline:none;
}

.navicon {
	display: block;
	position: relative;
	width: 30px;
	height: 5px;
	background-color: #333;
	margin-top: 20px
}

.navicon:before,
.navicon:after {
	content: '';
	display: block;
	width: 30px;
	height: 5px;
	position: absolute;
	background: #333;
	-webkit-transition-property: margin, -webkit-transform;
	transition-property: margin, -webkit-transform;
	transition-property: margin, transform;
	transition-property: margin, transform, -webkit-transform;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
}

.navicon:before {
	margin-top: -10px;
}

.navicon:after {
	margin-top: 10px;
}

.open .navicon {
	background: none
}

.open .navicon:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.open .navicon:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.open .navicon:before,
.open .navicon:after {
	content: '';
	display: block;
	width: 30px;
	height: 5px;
	position: absolute;
	background: #333;
}

/*ul li 样式*/
/*,#starlist #selected,.selected>a*/
#lwd-write-article{
	color: red;
}

#starlist li a:hover, #selected{
	color: #0077dd;
}



/*下拉样式*/
.sub {
	display: none;
	background: #FFF;
	position: relative;
	overflow: hidden;
	padding: 0 10px 10px 10px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, .04);
}
.sub li a{
	font-family: "微软雅黑";
	font-size: 13px;
}

.menu {
	position: relative;
}

#starlist li:hover ul {
	display: block
}

#starlist li:hover.menu:before {
	display: none
}

#starlist .sub li {
	padding: 0 0 0 0;
	width: 100%;
	border-bottom: #f5f5f5 1px solid;
	line-height: 35px;
}

.menu:after {
	content: "";
	position: absolute;
	right: 5px;
	top: 38px;
	width: 0;
	height: 0;
	background: #292828;
	border-right: 5px solid transparent;
	border-top: 5px solid #ffffff;
	-ms-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

/* 小三角图标反转180° */
#starlist li:hover.menu:after {
	transform: rotate(180deg)
}



/* 用户登入后的下拉样式 */
/* 下拉样式 */
.user-info-sub {
	width: 150px;
	display: none;
	background: #FFF;
	position: relative;
	overflow: hidden;
	box-shadow: 0 4px 4px rgba(0, 0, 0, .04);
}

.user-info-sub li a {
	text-align: left;
	font-family: "微软雅黑";
	font-size: 15px;
}

.user-info-sub li:hover {
	background-color: #f5f5f5;
}


.user-info-menu {
	position: relative;
	padding-left: 15px;
}

.user-info-menu a img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

#starlist li:hover.user-info-menu:before {
	display: none
}

#starlist .user-info-sub li {
	padding-left: 20px;
	text-align: left;
	width: 100%;
	border-bottom: #f5f5f5 1px solid;
	line-height: 50px;
}

#starlist .user-info-sub li i {
	color: #ea6f5a;
}

.user-info-menu:after {
	content: "";
	position: absolute;
	right: 5px;
	top: 38px;
	width: 0;
	height: 0;
	background: #292828;
	border-right: 5px solid transparent;
	border-top: 5px solid #ffffff;
	-ms-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}


.wrapper {
	width: 1120px;
	margin: 130px auto 0;
	overflow: hidden
}


/*footer*/
/*底部*/
footer {
	width: 100%;
	overflow: hidden;
	background: #555;
	color: #ccc
}

.footer {
	width: 1120px;
	margin: auto;
	overflow: hidden;
	padding: 20px 0
}

.wxbox {
	width: 25%;
	overflow: hidden;
	float: left
}

.wxbox li {
	width: 100px;
	float: left;
	text-align: center;
	margin-right: 10px
}

.wxbox img {
	width: 100px;
}

.footer .bzjj {
	width: 33%;
	margin-left: 20px;
	float: left
}

.footer h2 {
	font-size: 15px;
	padding-bottom: 10px
}

.other {
	width: 33%;
	float: right;
	overflow: hidden;
}


#colophon {

    position: relative;
    width: 100%;
    border-top: 1px solid #ddd;
    box-shadow: 0 -1px 1px rgba(0,0,0,.03);
}

.site-info {
    padding: 20px 0;
}

#scroll{
    width: 32px;
    float: right;
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 9999;
}

#scroll .lwd-scroll-wechat{
	position: relative;
}

#scroll li a{
    font-size: 16px;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    margin-top: 4px;
    display: block;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

#scroll li input{
	outline: none;
	font-size: 16px;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    margin-top: 4px;
    display: block;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

#scroll .lwd-scroll-wechat img{
	display: none;
 	position: absolute;
 	bottom: 0px;
 	right: 35px;
 	width: 140px;
}

#scroll .lwd-scroll-wechat:hover img{
	display: block;
 	border: white 2px solid;
 	border-radius: 20px;

}


